<% provide(:title, "Pomoc") %>

<h1 style="text-align:center">Pomoc</h1>
<p style="text-align:center">
	Serwis pozwala na tworzenie ankiet przy pomocy intuicyjnego kreatora, 
	ułatwia przeprowadzanie badań opinii <br/>
	oraz analizę wyników poprzez
	tworzenie wykresów z podziałem na poszczególne kategorie ankietowanych.
</p>