<div class="input-group answer">
    <span class="input-group-addon hidden"></span>
    <%= text_field_tag "todo", nil, placeholder: 'Naciśnij, jeśli chcesz dodać odpowiedź', class: "form-control pressForNewAnswer" %>
    <span class="input-group-btn">
        <button class="btn btn-default remove-answer hidden" type="button" data-toggle="tooltip" data-placement="right" title="Naciśnij, aby usunąć odpowiedź">X</button>
    </span>
</div>