<div class="input-group answer">
    <span class="input-group-addon hidden"></span>
    <%= text_field_tag nil, nil, id: nil, placeholder: 'Naciśnij, jeśli chcesz dodać odpowiedź', class: "form-control pressForNewAnswer" %>
    <span class="input-group-btn hidden">
        <button class="btn btn-default remove-answer" type="button" data-toggle="tooltip" data-placement="right" title="Naciśnij, aby usunąć odpowiedź">X</button>
    </span>
</div>