<div class="row">
     <div class="question">
        <div class="input-group input-group-lg">
            <span class="input-group-addon"><strong>1.</strong></span>
                <%= text_field_tag "questions[]", nil, placeholder: 'Pytanie', class: "form-control" %>
            <span class="input-group-btn">
            <button class="btn btn-default remove-question" type="button" data-toggle="tooltip" data-placement="right" title="Naciśnij, aby usunąć pytanie">X</button>
        </span>
     </div>
     <div class="checkbox multiplechoice">
        <label><input name="question_type[]" type="checkbox" value="1" />pytanie wielokrotnego wyboru</label>
     </div>
     </div>
     <div class="answers">
        <div class="input-group answer">
            <span class="input-group-addon">1.</span>
            <%= text_field_tag "answers[0][]", nil, id: nil, placeholder: 'Odpowiedź', class: "form-control" %>
            <span class="input-group-btn">
                <button class="btn btn-default remove-answer" type="button" data-toggle="tooltip" data-placement="right" title="Naciśnij, aby usunąć odpowiedź">X</button>
            </span>
        </div>
        <div class="input-group answer">
            <span class="input-group-addon">2.</span>
            <%= text_field_tag "answers[0][]", nil, id: nil, placeholder: 'Odpowiedź', class: "form-control" %>
            <span class="input-group-btn">
                <button class="btn btn-default remove-answer" type="button" data-toggle="tooltip" data-placement="right" title="Naciśnij, aby usunąć odpowiedź">X</button>
            </span>
        </div>
        <%= render "answer" %>
     </div>
</div>