<div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10 col-lg-offset-1">

<% @survey.questions.each do |q|%>
    <% q.answers.each do |a| %>
        <%= a.respondents.count %>
        <br>
    <% end %>
    <br>
<% end %>

<% @survey.questions.each do |q|%>
    <% answers = Hash.new %>
    <% q.answers.each do |a| %>
        <% answers["#{a.reply}"] = AnswerRespondent.where(answer_id:a.id).count %>
    <% end %>
    <%= answers %>
    <%= column_chart answers %>
    <br>
<% end %>

</div>