<div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10 col-lg-offset-1">

<% @survey.questions.each do |q|%>

    <h2><%= q.content %></h2>
    <% answers = Hash.new %>
    <% q.answers.each do |a| %>
        <% answers["#{a.reply}"] = AnswerRespondent.where(answer_id:a.id).count %>
    <% end %>
    <%= column_chart answers %>
    <br>

    <% answersM = Hash.new %>
    <% answersK = Hash.new %>
    <% q.answers.each do |a| %>
        <% @@M = Respondent.joins(:answers).where('answers.id = ? AND sex = "M"',a.id) %>
        <% @@K = Respondent.joins(:answers).where('answers.id = ? AND sex = "K"',a.id) %>
        <% answersM["#{a.reply}"] = @@M.count %>
        <% answersK["#{a.reply}"] = @@K.count %>
    <% end %>
    <%= column_chart [
        {name: "Mężczyźni", data: answersM },
        {name: "Kobiety", data: answersK }
    ] %>
    <br>
<% end %>

</div>