// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question{
    margin-bottom: 30px;
}
.pressForNewAnswer{
    opacity: 0.4;
}
.answer{
    margin-top: 8px;
    margin-bottom: 8px;
}