// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin margin-top-bottom($top,$bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin shadow{
    -webkit-box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.2);
    box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.2);
}

@mixin scale{
    transform: scale(1.5 , 1.5); 
    -moz-transform: scale(1.5 , 1.5); 
    -ms-transform: scale(1.5 , 1.5); 
    -webkit-transform: scale(1.5 , 1.5); 
    -o-transform: scale(1.5 , 1.5); 
}

@mixin legend-li-color($width,$color){
    border-left: $width solid $color;
}

.container{
    margin-bottom: 50px;
}
div#survey-name{
    @include margin-top-bottom(20px,20px);
    text-align: center;
    width: 100%;
}
input#survey_name{
    font-size: 24px; 
    height: 50px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
#new-question{
    margin-bottom: 30px;
}
.header-text{
    margin-top: 30px;
    font-size: 20px;
}
.multiplechoice{
    margin-top: 20px;
    left: 20px;
}
.start-date, .end-date, .category,{
    width: 50% !important;
}
#survey-title{
    font-size: 50px;
    margin-bottom: 20px;
}
#respondent-info-form{
    @include margin-top-bottom(20px,60px);
    padding: 0px 20px 20px 20px;
    @include shadow;
}
.respondent-sex{
    label{
        word-wrap: normal;
        input[type='radio']{
            vertical-align: middle;
            height:100%;
            margin-top: 0px;
            @include scale; 
        }
    }
}
.respondent-age-input{
    font-size: 16px !important;
    width: auto !important;
}
.respondent-education-input, .respondent-location-input{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px !important;
    width: auto !important;
}
#survey-generator-form{
    padding: 20px;
    @include shadow;
}
#survey{
    @include margin-top-bottom(20px,20px);
    padding: 0px 20px 20px 20px;
    @include shadow;
}
.question-generator{
    @include margin-top-bottom(30px,20px);
}
.question{
    @include margin-top-bottom(30px,20px);
    h2{
        word-wrap: break-word;
    }
}
.pressForNewAnswer{
    opacity: 0.6;
}
.remove-question{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.answer-generator{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}
.answer{
    label{
        word-wrap: break-word;
        input[type='radio'],input[type='checkbox']{
            vertical-align: middle;
            height:100%;
            margin-top: 0px;
            @include scale;   
        }
    }
}
.no-answer-error{
    color:#a94442;
}
.hidden{
    display:none;
}

.tab-container{
    text-align:center;
}

ul.legend{
    list-style-type:none;
    display: inline-block;
    text-align:left;

    li{
        margin: 0 0 3px 0;
        padding: 0 0 0 15px;
    }
}
.legend-blue{
    @include legend-li-color(40px,#3366cc);
}
.legend-red{
    @include legend-li-color(40px,#dc3912);
}
.legend-yellow{
    @include legend-li-color(40px,#ff9900);
}
.legend-green{
    @include legend-li-color(40px,#109618);
}
.legend-purple{
    @include legend-li-color(40px,#990099);
}
.legend-cyan{
    @include legend-li-color(40px,#0099c6);
}
